doctype html    
html
  head
    meta(charset='utf-8')
    title HDFS Web UI
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='resources/webapp.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='vendors/jquery-1.11.1.min.js')
    script(type='text/javascript', src='vendors/bootstrap/js/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")
    script
      :coffee 
        $().ready ->
          socket = io 'http://localhost'
          socket.on 'login', (data) ->
            $('#data').append """
            <tr id='#{data.username}'>
              <td>#{data.username}</td>
              <td>
                <div class="crdate">#{data.crdate}</div>
                <div class="count">0</div>
                <div class="logs"></div>
              </td>
            </tr>
            """
          socket.on 'logs', (data) ->
            console.log 'logs', data
            return if not data.username or data.username is 'anonymous'
            console.log 'logs ok', '#'+data.username+ ' .count'
            $('#'+data.username+ ' .count').html data.count
            $('#'+data.username+ ' .logs').append "<div>#{data.url}</div>"
  body
    table#data(style="width 80%;margin: 0 auto")
      tr.form-group
        th
          span Username
        th
          span Informations

  

