extends layout

block head
  script(src="/js/d3.js", charset="utf-8")
  script(src="/js/jquery.js", charset="utf-8")

block content

  :stylus
    h1, p
      margin 5px
    #form, #graph
      position relative
      width 400px
      margin 0 auto
      background #CCCCCC
      padding 10px
      margin-bottom 20px
    #graph
      height 140px
  #form
    h1= title
    p Welcome to #{title}
    form(action='/metric')
      input#metric_id(name='metric')
      input#metric_ok(type='submit', value='OK')
  #graph
  :coffee
    $('#metric_ok').click (e) ->
      e.preventDefault()
      id = $('#metric_id').val()
      $.getJSON "/metric/#{id}.json", {}, (data) ->
        
        console.log data
    
